@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

#root {
  margin: 0;
  font-family: "Pacifico", serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  text-align: center;
}

.neon-text {
  font-size: 50px; /* Make the text responsive */
  color: #fde5eb; /* Neon pink */
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px #f8638b, 0 0 10px #f8638b, 0 0 20px #f8638b, 
               0 0 40px #f90c4b, 0 0 80px #f90c4b; /* Glow effect */
  animation: flicker 1.5s infinite alternate; /* Flicker animation */
}

/* Buttons container */
.button-container {
  margin-top: 20px;
}

/* Neon button styles */
.neon-button {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 40px;
  margin: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #f90c4b;
  background: transparent;
  border-radius: 20px;
  transition: 0.3s;
}

/* Yes button - Green neon */
.neon-button.yes {
  border: 3px solid #42a06b;
  box-shadow: 0 0 5px #42a06b, 0 0 10px #42a06b, 0 0 20px #42a06b;
}

.neon-button.yes:hover {
  background: #42a06b;
  color: #fde5eb;
  box-shadow: 0 0 10px #42a06b, 0 0 20px #42a06b, 0 0 40px #42a06b;
}

/* No button - Red neon */
.neon-button.no {
  border: 3px solid #fc6565;
  box-shadow: 0 0 5px #fc6565, 0 0 10px #fc6565, 0 0 20px #fc6565;
}

.neon-button.no:hover {
  background: #fc6565;
  color: #fde5eb;
  box-shadow: 0 0 10px #fc6565, 0 0 20px #fc6565, 0 0 40px #fc6565;
}

/* Disabled No button - Gray color */
.neon-button.no.disabled {
  border: 3px solid gray;
  box-shadow: none;
  background: gray;
  color: darkgray;
  cursor: not-allowed;
}

/* Reload button - Blue neon */
.neon-button.reload {
  border: 3px solid #0099ff;
  box-shadow: 0 0 5px #0099ff, 0 0 10px #0099ff, 0 0 20px #0099ff;
}

.neon-button.reload:hover {
  background: #0099ff;
  color: black;
  box-shadow: 0 0 10px #0099ff, 0 0 20px #0099ff, 0 0 40px #0099ff;
}

.message {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 0 5px #c10e64, 0 0 10px #c10e64;
  margin-top: 20px;
}

.reload-message {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 0 5px #c10e64, 0 0 10px #c10e64;
  margin-top: 20px;
}

.reload-container {
  margin-top: 100px;
  justify-content: center;
}

/* Post-it note style */
.post-it {
  position: absolute;
  margin-top: 320px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fffa65;
  padding: 20px;
  width: 290px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "Delius", serif;
  transition: transform 0.3s ease-in-out;
}

/* Slight tilt effect */
.post-it::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-2deg);
  background: rgba(255, 255, 255, 0.1);
}

.song-container {
  margin-top: 530px;
}

.song-message {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0 0 5px #c10e64, 0 0 10px #c10e64;
  margin-top: 20px;
}

.song-info {
  padding-left: 30px;
  padding-right: 30px;
}

/* Flickering animation */
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

/* Responsive style for smaller screens */
@media (max-width: 600px) {
  .post-it {
    top: 200px; /* Increase top margin for better spacing */
  }
}